body {
background-image: url("Hogwarts.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

img {
width: 350px;
height: 388px;
position: fixed;
top: 50%;
left: 50%;
margin-top: -194px;
margin-left: -175px;
}

h1 {
font-family: "Lucida Console", monospace;
font-size: 50px;
color: gold;
}
