<!DOCTYPE html>
<html>
    <head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="angular.js"></script>
<link rel="stylesheet" href="angular.css">
    </head>

    <body>
        <h1>Find out what house you're in!</h1>
        <div ng-app ="SortingHat" ng-controller="SortCtrl">
            <form ng-submit = "Sort()" name="sortForm">
                <input type="text" ng-model="sortForm.FirstName" placeholder="First Name" ng-style="textbox" required>
                <input type="text" ng-model="sortForm.LastName" placeholder="Last Name" ng-style="textbox" required>
		<span ng-show="sortForm.FirstName.$invalid">Please enter First Name!</span>
		<span ng-show="sortForm.LastName.$invalid">Please enter Last Name!</span>
                <button name = "sortButton" type="submit">Sort yourself into Hogwarts!</button>
            </form>
		<img src="{{image}}.png" alt="{{image}}">
	</div>
    </body>
</html>

